// brand green
$color-primary: #1f3634;
$color-white: #ffffff;
// blueberry
$color-link: #4A86E8;
$color-link-dark: #3c75d2;

@font-face {
  font-family: 'Matter-Regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: url('/fonts/Matter-Regular.woff2') format('woff2'),
       url('/fonts/Matter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Matter-SemiBold';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: url('/fonts/Matter-SemiBold.woff2') format('woff2'),
       url('/fonts/Matter-SemiBold.woff') format('woff');
}

$font-family-bold: 'Matter-SemiBold', serif; //sans-serif;

$font-family: 'Matter-Regular', serif; //sans-serif;
$letter-spacing: -.015em;
$letter-spacing-small-text: .04em;
$font-size-base: 16px;
$font-size-sm-x: .85rem;
$font-size-sm: 1.125rem;
$font-size-md: 1.4rem;
$font-size-h3: 1.75rem;
$font-size-lg: 2.5rem;
$line-height: 1.5em;
$line-height-sm: 1.4em;
$font-weight-bold: 600;

$screen-size-tablet: 56rem;
$screen-size-mobile: 60rem;
$screen-size-tiny: 25rem;

$page-width: 100%;
$menu-margin-x: 2.5vw;
$logo-size: 4rem;


$form-height: 3rem;
$form-padding: 3rem;

$opacity-off-hover: .9;

$logo-size-footer: 1.5em;
$logo-size-m: 3rem;
$flex-padding: 1.25rem;

// Announcement banner
$announcement-banner-height: 50px;
