@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.page-about {
  .profile-row {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin-left: -$flex-padding;
    margin-right: -$flex-padding;
  }

  .profile-wrap {
    clear: both;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    padding: calc($flex-padding / 2) calc($flex-padding / 2);

    p {
      font-size: $font-size-sm;
      line-height: $line-height-sm;
      // text-align: justify;
    }

    &.full-row {
      width: 100%;
      display: flex;
      flex-direction: row;

      .profile-img-wrap {
        padding-right: $flex-padding;
        width: 25%;
        box-sizing: border-box;
      }
      .profile-img-wrap-founder {
        width: 50%;
      }

      .profile-content-wrap {
        align-self: center;
        padding-left: calc($flex-padding / 4);
        width: 66.666%;
        box-sizing: border-box;
      }

      // &.cofounder {
      //   width: 50%;

      //   p {
      //     font-size: 1rem;
      //   }

      //   h4 {
      //     // font-size: 1rem;
      //   }

      //   .profile-img-wrap {
      //     width: 42%;
      //   }

      //   .profile-content-wrap {
      //     align-self: auto;
      //     margin-top: 0.5em;
      //     width: 58%;
      //   }
      // }
    }
  }

  .profile-name,
  .profile-title {
    text-align: center;
    font-weight: $font-weight-bold;
    line-height: 1em;

    .bold-not {
      font-weight: 100;
    }
  }

  .profile-name {
    margin-bottom: .25rem;
    font-size: $font-size-sm;
  }

  .profile-title {
    font-size: $font-size-base;
    margin-bottom: .5rem;
    font-style: italic;
  }

  .profile-img {
    width: 100%;
    margin-bottom: .25rem;

    &.crop-circle {
      overflow: hidden;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .contact-info {
    address,
    .address-link {
      line-height: $line-height-sm;
      font-size: $font-size-base * 1.05;
    }

    p {
    }
  }

  @media screen and (max-width: $screen-size-mobile) {
    .profile-row {
      display: flex;
      flex-wrap: wrap;
    }

    .profile-wrap {
      width: 50%;
      padding: $flex-padding;

      &.full-row {
        width: 100%;
        display: block;

        .profile-img-wrap,
        .profile-content-wrap {
          width: 100%;
        }

        .profile-img-wrap {
          margin-bottom: 1rem;
        }

        .profile-content-wrap {
          padding: 0;
        }

        &.cofounder {
          .profile-img-wrap {
            width: 100%;
          }

          .profile-content-wrap {
            width: 100%;
          }

        }
      }
    }
  }
}
