@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

$left-margin: 5vw;
$menu-margin-x: 3vw;
$logo-size: 4rem;
$logo-size-m: 3rem;

.page-home {
  .bullet {
    padding-left: 0;
    padding-right: 0.35em;
    font-size: 0.6em;
    transform: translateY(-.45em);
    display: inline-block;

    &::after {
      content: '•';
      position: absolute;
      display: inline-block;
    };
  }

  .header-logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

    img {
      margin: $menu-margin-x;
      max-width: $logo-size;
    }
  }

  .nav-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: right;
    z-index: 2;
  }

  .menu-ul {
    margin: $menu-margin-x 5vw;

    a {
      color: $color-white;
      cursor: pointer;
      line-height: $logo-size;
    }
  }

  .menu-li {
    display: inline-block;
    margin: 0 2rem;
    font-size: $font-size-md;

    &:last-child {
      margin-right: 0;
    }
  }

  .footer {
    position: absolute;
    width: 100%;
    background: $color-primary;
    text-align: center;
    display: flex;
    align-items: center;

    img {
      width: 3em;
    }

    span, a {
      opacity: .9;
      color: white;
    }
    span {
      font-size: 1.75rem;
      margin: 0 .75rem;
    }

    a {
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer-inner {
    padding: 1rem 0;
    display: inline;
    margin: 0 auto;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-screen-home {
    .h1-wrap {
      text-align: center;
      left: 0;
      right: 0;
      position: absolute;
      bottom: 7vh;
      // left: $left-margin;
      font-size: 1.6vw;
    }

    .h1 {
      width: 23.1em;
      margin: 0 auto;

      img {
        margin-left: -1.1em;
        width: 100%;
      }
    }

    .h2 {
      margin-top: -0.25em;
      font-size: 1.39em;
      font-weight: 300;
      font-family: $font-family;
      letter-spacing: 0.02em;
    }
  }

  .page-screen-about {
    background: white;
    color: $color-primary;
  }

  .page-screen-contact {
    background: $color-primary;
  }

  .float-left {
  }

  .pnl-report-diagram {
    width: 80%;
    margin: 2rem auto 1rem auto;
    display: block;
  }

  .caption {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-style: italic;
    font-size: .8em;
  }

  .component-video {
    &:after {
      @include full-size();

      opacity: .3;
      content: '';
      display: block;
      background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 75%, rgb(0, 0, 0) 100%);
    }
  }

  .video-fallback-img {
    transform: translateY(-50%) translateX(-30%);
    left: 30%;
  }

  @media screen and (max-width: $screen-size-mobile) {
    .page-screen-home {
      .h1-wrap {
        font-size: 3.25vw;
      }
    }

    .menu-ul {
      margin-top: $logo-size-m / 2;

      a {
        line-height: $logo-size-m;
      }
    }

    .header-logo {
      img {
        margin: $logo-size-m / 2;
        max-width: $logo-size-m;
      }
    }

    .menu-li {
      margin: 0 1rem;
    }

    .footer-inner {
      margin: 0 auto;
      display: block;
      font-size: 1.2rem;

      span {
        display: block;
        margin: 1rem;
      }
    }
  }

  .page-screen-contact .footer-inner {
    li {
      display: inline-block;
    }
  }

  span.icon-mail {
    font-size: 1.75em;
  }
}
