@import './shared-styles/variables.scss';
@import './shared-styles/mixins.scss';
@import './shared-styles/reset.scss';
@import './shared-styles/fontello/css/fontello.css';
@import './page.scss';

html,
body {
  font-size: $font-size-sm;
}

body {
  margin: 0;
  padding: 0;

  .page {
    // when these were added to just the body, they weren't winning out for some reason
    // Note: this was due to this bug: https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/200
    // Fix for now is to make the reset.css a reset.scss.
    font-family: $font-family;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
    font-size: $font-size-sm;
  }
}

i {
  font-style: italic;
}

.page {
  position: relative;
  width: $page-width;
  background: $color-primary;
  color: $color-white;
  margin: 0 auto;
}

.page-screen {
  position: relative;
  min-height: 100vh;
  background: white;
  color: $color-primary;
}

a {
  text-decoration: none;
  color: $color-link;
}

p {
  margin-bottom: 1rem;

  &.block {
    display: inline-block;
  }
}

button {
  border: none;
}

.media-wrap {
  margin-bottom: 1.5rem;
}

.react-static-loading {
  // git rid of the spinning loader. It's distracting.
  display: none !important;

  svg {
    @include center-both();
  }
}

.screen-content {
  // the 6rem leaves enough room for the globe footer
  padding: 5vh 5vw 4rem 5vw;
  max-width: 40rem;
  margin: 0 auto;

  .h2 {
    font-size: $font-size-lg;
    font-family: $font-family-bold;
    font-weight: $font-weight-bold;
    margin: 1rem 0;
  }

  .h3 {
    font-size: $font-size-md;
    font-family: $font-family-bold;
    font-weight: $font-weight-bold;
    margin-bottom: .75rem;
  }

  &.screen-content-dark {
    a {
      color: $color-white;
      text-decoration: underline;
    }
  }
}

.content-section {
  margin-bottom: 3rem;
}

.info-link-list {
  margin-bottom: 1rem;
}

.info-link {
  margin-bottom: 0.75rem;
}

.responsive-google-slides {
  position: relative;
  // padding-bottom: 56.25%; /* 16:9 Ratio */
  // this is a more propper fit. I'm not sure why.
  padding-bottom: 60.3%;
  height: 0;
  overflow: hidden;

  iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

@media screen and (max-width: $screen-size-mobile) {
  html,
  body {
    font-size: $font-size-base;
  }

  .responsive-google-slides {
    padding-bottom: 63.5%;
  }
}