@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.mailchimp-form {
  width: 100%;

  #mc_embed_signup{
    clear: left;
    width: 100%;

    form {
      padding: 0;
    }

    .field-group-wrap-name {
      display: flex;
      clear: both;

      .mc-field-group {
        width: 50%;
      }
    }

    h2 {
      float: left;
      font-size: $font-size-sm;
    }

    label {
      font-size: 1rem;
    }

    .indicates-required {
      display: inline-block;
      float: right;
      margin-right: 0;
      margin-top: .75rem;
    }

    input,
    .mc-field-group input {
      padding: 0 1rem;
      height: $form-height;
      line-height: $form-height;
      box-sizing: border-box;

    }

    .mc-field-group {
      &:first-child {
        margin-right: 0.5rem;
      }
    }

    .field-group-wrap-email-and-submit {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-end;


      .field-group-email {
        width: 66%;
        flex-grow: 1;
      }
      .field-group-submit {
        width: 30%;

        input.button {
          background: $color-link;
          margin-bottom: 0;

          &:hover {
            background: $color-link-dark;
          }
        }
      }
    }

  }

  // #mc_embed_signup_scroll {
  //   text-align: left;
  // }


  // #mc_embed_signup input.email {
  //   width: 66%;
  //   display: inline-flex;
  //   align-self: flex-start;
  //   margin-right: 0.5rem;
  //   padding: 0 1rem;
  // }

  // #mc_embed_signup input.button {
  //   padding: 0 $form-padding;
  //   background: $color-link;

  //   &:hover {
  //     background: $color-link-dark;
  //   }
  // }

  // #mc_embed_signup label.form-label {
  //   font-size: $font-size-sm;
  // }

  // @media screen and (max-width: $screen-size-mobile) {
  //   #mc_embed_signup input.email {
  //     width: 100%;
  //   }
  // }
}
