@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.mailchimp-form {
  width: 100%;

  .field-group-wrap-name {
    display: flex;
    clear: both;

    .mc-field-group {
      width: 50%;
    }
  }

  #mc_embed_signup {
    clear: left;
    width: 100%;

    form {
      padding: 0;
    }

    h4 {
      margin: 2rem 0 .75rem 0;
      font-size: 1.25rem;
    }

    label {
      font-size: 1rem;
    }

    .indicates-required {
      display: inline-block;
      float: right;
      margin-right: 0;
    }

    input,
    .mc-field-group input {
      padding: 0 1rem;
      height: $form-height;
      line-height: $form-height;
      box-sizing: border-box;
      text-indent: 0;
    }

    .mc-field-group {
      &:first-child {
        margin-right: 0.5rem;
      }
    }

    .field-group-email {
      width: 100%;

      label {
        float: left;
      }
    }

    input.button {
      width: 100%;
      background: $color-link;
      margin-bottom: 0;
      font-size: 1rem;

      &:hover {
        background: $color-link-dark;
      }
    }
  }

  @media screen and (max-width: $screen-size-mobile) {
    .field-group-wrap-name {
      display: block;

      .mc-field-group {
        width: 100% !important;
      }
    }
  }
}
